<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="io.ttcnet.pay"
        android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true">
        <receiver
                android:name=".receiver.PayTxHashReceiver"
                android:enabled="true"
                android:exported="true"></receiver>
    </application>

</manifest>