<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.ttcnet.sdk">

    <application
            android:name=".Application"
            android:allowBackup="true"
            android:icon="@mipmap/lasvegas"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/lasvegas_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity android:name=".RegisterActivity"
                  android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".AdsActivity"
                android:screenOrientation="portrait"/>

        <activity-alias
                android:name="bind"
                android:targetActivity="com.ttc.behavior.ui.BindActivity">

            <intent-filter>
                <action android:name="com.ttc.wallet.BINDACTION" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                        android:scheme="ttc.behavior.demo" />
            </intent-filter>

        </activity-alias>

        <meta-data
                android:name="TTC_APP_ID"
                android:value="SDKTest"/>
        <meta-data
                android:name="TTC_APP_SECRET_KEY"
                android:value="9d1990b8fc9cf1328d88af73b8f89e4d"/>
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-3081086010287406~9085005576"/>

        <activity android:name=".BehaviorActivity"/>
        <activity android:name=".BannerActivity">
        </activity>
    </application>

</manifest>